{%- extends "_layout.html" %}

{% block title %}{{ mydojo_current_view.get_view_title() }}{% endblock %}

{%- block content %}

            <div class="row">
                <div class="col-md-4 offset-md-4">

                    <form method="POST" action="{{ url_for('auth_pwd.login', next = next) }}">
                        <fieldset>
                            <legend>{{ get_icon(mydojo_current_view.get_view_icon()) }} {{ mydojo_current_view.get_view_title() }}</legend>

                            {{ macros_form.render_form_item_default(form.login) }}
                            {{ macros_form.render_form_item_default(form.password) }}

                            {{ macros_form.render_form_errors(form.csrf_token.errors) }}
                            {{ form.csrf_token }}
                            {{ form.cancel(class_='btn btn-default') }}
                            {{ form.submit(class_='btn btn-primary') }}
                        <fieldset>
                    </form>

                </div>
            </div>

{%- endblock content %}
