{% extends "_layout.html" %}

{% block title %}{{ _('Forbidden') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron" style="margin-top: 1em;">
            <h1 class="text-center">403</h1>
            <p class="lead text-center">
                {{ _('Forbidden') }}!
            </p>
            <hr>
            <p class="text-center">
                {{ _('It seems you do not have sufficient permissions to access this resource, perhaps <a href="%(link)s">go somewhere nice</a> instead.', link = url_for(config['MYDOJO_ENDPOINT_HOME'])) | safe }}
            </p>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
