{% extends "_layout.html" %}

{% block title %}{{ _('Internal Server Error') }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron" style="margin-top: 1em;">
            <h1 class="text-center">500</h1>
            <p class="lead text-center">
                {{ _('Internal Server Error') }}!
            </p>
            <hr>
            <p class="text-center">
                {{ _('We are sorry, but something went terribly wrong. Please try again later.') }}
            </p>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
{% endblock %}
