{%- extends "_layout_list.html" %}

{%- block contentinner %}

                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>
                                    {{ _('Login') }}
                                </th>
                                <th>
                                    {{ _('Name') }}
                                </th>
                                <th>
                                    {{ _('Roles') }}
                                </th>
                                <th>
                                    {{ _('State') }}
                                </th>
                                <th data-toggle="tooltip" title="{{ _('Contextual item actions') }}">
                                    {{ get_icon('actions') }} {{ _('Actions') }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%- for item in items %}
                            <tr{% if item.has_no_role() %} class="warning"{% elif item.has_role('admin') %} class="info"{% endif %}>
                                <td>
                                    {{ item.login | default(_('<< unknown >>'), True) }}
                                </td>
                                <td>
                                    {{ item.fullname | default(_('<< unknown >>'), True) }}
                                </td>
                                <td>
                                    {{ macros_site.render_labels_role_list(config['ROLES'], item, True) }}
                                </td>
                                <td>
                                    {{ macros_site.render_label_item_state(item.enabled, True) }}
                                </td>
                                <td class="column-actions">
                                    {{ macros_site.render_menu_context_actions(item) }}
                                </td>
                            </tr>
                            {%- endfor %}
                        </tbody>
                    </table>

{%- endblock contentinner %}
